@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*///////////////////////
 Table of Contents
 1. Global Styles
 2. Typography
 3. Layout
    3.1 Reusable
    3.2 Other
 4. Areas
    4.1 Header
    4.2 Hello
    4.3 Work
    4.4 Services
    4.5 Contact
 5. Footer
 6. Media Queries
 /////////////////////*/


/* --------------------------------------- 1. Global Styles --------------------------------------- */
body {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0C0C0C;
    --main-bg-color: #F3F6F9;
    --pink: #ED4385;
    --purple: #5722CD;
    --purple-light: #F2F0FF;
    --blue: #4845E4;
    --grey: #7A7A7A;

}
/* --------------------------------------- 2. Typography ------------------------------------------ */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 800;
}

h1 {
    font-size: 52px;
    line-height: 1.2;
}

button, input {
    font-family: inherit;
}

p {
    font-family: "Roboto Light", serif;
    margin: 20px 0;
    line-height: 1.6;
}


/* --------------------------------------- 3 Layout ----------------------------------------------- */

/* ----------------------------- 3.1 Reusable -------------------------- */

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    flex-basis: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.separator {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;;
    border-bottom: 4vw solid white;
    margin-top: -4vw;
}

/* ----------------------------- 3.2 Other ----------------------------- */

img {
    width: 100%;
    margin: 0.125rem;
}

a, a:visited, a:link {
    text-decoration: none;
}

button {
    background-color: #ED4385;
    border-radius: 20px;
    border: none;
    color: #F3F6F9;
}

button:hover {
    cursor: pointer;
}


/* --------------------------------------- 4. Areas ------------------------------------------------ */

/* ----------------------------- 4.1 Header ---------------------------- */

.header-section {
    height: 400px;
    background: linear-gradient(135deg, #4845E4 5%, #9370db 90%);
}

/* ----------------------------- 4.2 Hello ----------------------------- */

.hello-section {
    height: 300px;
}

/* ----------------------------- 4.3 Work ------------------------------ */

.work-section {
    background-color: #F3F6F9;
    height: fit-content;
}

.separator-work {
        width: 0;
        height: 0;
        border-right: 100vw solid transparent;;
        border-bottom: 4vw solid #F3F6F9;
        margin-top: -4vw;
}

/* ----------------------------- 4.4 Services -------------------------- */

.service-section{
    height: fit-content;
}

.separator-services {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;;
    border-bottom: 4vw solid white;
    margin-top: -4vw;
}
/* ----------------------------- 4.5 Contact --------------------------- */

.contact-section {
    display: flex;
    color: white;
    height: 500px;
    background: linear-gradient(135deg, #4845E4 5%, #9370db 90%);
}

.question-content-container {
    padding-top: 60px;
}

.separator-contact {
    width: 0;
    height: 0;
    border-right: 100vw solid white;
    border-bottom: 4vw solid transparent;
    margin-bottom: -40vw;
}

/* --------------------------------------- 5. Footer ----------------------------------------------- */

footer {
    margin: 0;
    height: 40px;
    background-color: black;
}

/* --------------------------------------- 6. Media Queries ---------------------------------------- */