/*///////////////////////
 Table of Contents
 1. Global Styles
 2. Typography
 3. Layout
    3.1 Reusable
    3.2 Other
 4. Areas
    4.1 Header
    4.2 Hello
    4.3 Work
    4.4 Services
    4.5 Contact
 5. Media Queries
 /////////////////////*/

/* --------------------------------------- 1. Global Styles --------------------------------------- */

 h1, h2, h3, h4, h5, h6 {
     font-family: Merriweather
 }

p {
    fon-family: roboto;
}

: root {
    /*Paars #5722CD;*/
    /*Blauw #4845E4;*/
    /* button Roze #ED4385;*/
    --main-color: #0C0C0C /*(voor standaard tekst)*/;
    /*Lichtpaars #F2F0FF; !*(voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen*!*/
    --main-bg-color: #F3F6F9; /*(voor de achtergrond van de projecten)*/
    /*Grijs #7A7A7A; !*(voor de service-tegel tekst)*!*/
}
/* --------------------------------------- 2. Typography ------------------------------------------ */

/* --------------------------------------- 3 Layout ----------------------------------------------- */

/* ----------------------------- 3.1 Reusable -------------------------- */

/* ----------------------------- 3.2 Other ----------------------------- */

/* --------------------------------------- 4. Areas ------------------------------------------------ */

/* ----------------------------- 4.1 Header ---------------------------- */

/* ----------------------------- 4.2 Hello ----------------------------- */

/* ----------------------------- 4.3 Work ------------------------------ */

/* ----------------------------- 4.4 Services -------------------------- */

/* ----------------------------- 4.5 Contact --------------------------- */

/* --------------------------------------- 5. Media Queries ---------------------------------------- */